
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="Dangky">
    <table align="center">
        <h2 style="text-align:center">ĐĂNG KÝ THÀNH VIÊN</h2>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
                <tr style="height:40px">
                    <td>Họ tên người dùng: </td>
                    <td>
                        @Html.TextBox("HoTenND")
                        @ViewData["Loi1"]
                    </td>
                </tr>
                <tr style="height:40px">
                    <td>Tên đăng nhập: </td>
                    <td>
                        @Html.TextBox("TenDN")
                        @ViewData["Loi2"]
                    </td>
                </tr>
                <tr style="height:40px">
                    <td>Mật khẩu: </td>
                    <td>
                        @Html.TextBox("MatKhau")
                        @ViewData["Loi3"]
                    </td>
                </tr>
                <tr style="height:40px">
                    <td>Nhập lại mật khẩu: </td>
                    <td>
                        @Html.TextBox("NhapLaiMK")
                        @ViewData["Loi4"]
                    </td>
                </tr>
                <tr style="height:40px">
                    <td>Email: </td>
                    <td>
                        @Html.TextBox("Email")
                        @ViewData["Loi5"]
                    </td>
                </tr>
                <tr style="height:40px">
                    <td>Số điện thoại: </td>
                    <td>
                        @Html.TextBox("SDT")
                        @ViewData["Loi6"]
                    </td>
                </tr>
                <tr style="height:40px">
                    <td></td>
                    <td>
                        <input type="submit" value="Đăng Ký" />
                    </td>
                </tr>
        }
    </table>
</div>

